# Configuration file

Equipment {
    # Set to TRUE to disable ALL armor sets.
    B:DisableAllArmor=false

    # Set to TRUE to disable ALL tool sets.
    B:DisableAllTools=false

    # Set to FALSE to hide all disabled equipment from the Creative Tabs and NEI.
    B:ShowDisabledEquipment=true

    Copper {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Tin {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Silver {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Lead {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Nickel {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Electrum {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Invar {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Bronze {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

    Platinum {
        B:Armor=true

        Tools {
            B:Axe=true
            B:Bow=true
            B:FishingRod=true
            B:Hoe=true
            B:Pickaxe=true
            B:Shears=true
            B:Shovel=true
            B:Sickle=true
            B:Sword=true
        }

    }

}


Fluid {

    Redstone {
        # Enable this for Fluid Redstone to emit a signal proportional to its fluid level.
        B:Effect=true
    }

    Glowstone {
        # Enable this for Fluid Glowstone Source blocks to condense back into solid Glowstone above a given y-value.
        B:Condense=true

        # Enable this for Fluid Glowstone to do...something.
        B:Effect=true

        # Enable this for Fluid Glowstone Source blocks to gradually float upwards.
        B:Float=true

        # This adjusts the y-value where Fluid Glowstone will *always* condense, if that is enabled. It will also condense above 80% of this value, if it cannot flow.
        I:MaxHeight=120
    }

    Ender {
        # Enable this for Fluid Ender to randomly teleport entities on contact.
        B:Effect=true
    }

    Pyrotheum {
        # Enable this for Fluid Pyrotheum to be worse than lava.
        B:Effect=true

        # Enable this for Fluid Pyrotheum Source blocks to gradually fall downwards.
        B:Fall=true
    }

    Cryotheum {
        # Enable this for Fluid Cryotheum to be worse than lava, except cold.
        B:Effect=true

        # Enable this for Fluid Cryotheum Source blocks to gradually fall downwards.
        B:Fall=true
    }

    Aerotheum {
        # Enable this for Fluid Aerotheum Source blocks to dissipate back into air above a given y-value.
        B:Dissipate=true

        # Enable this for Fluid Aerotheum to do...things.
        B:Effect=true

        # Enable this for Fluid Aerotheum Source blocks to gradually float upwards.
        B:Float=true

        # This adjusts the y-value where Fluid Aerotheum will *always* dissipate, if that is enabled.
        I:MaxHeight=120
    }

    Petrotheum {
        # Enable this for Fluid Petrotheum to break apart stone blocks.
        B:Effect=true

        # Enable this for Fluid Petrotheum to have an EXTREME effect on stone blocks.
        B:Effect.Extreme=false

        # Enable this for Fluid Petrotheum Source blocks to gradually fall downwards.
        B:Fall=true
    }

    Mana {
        # Enable this for Fluid Mana to do...things.
        B:Effect=true
    }

    Coal {
        # Enable this for Fluid Coal to be flammable.
        B:Flammable=true
    }

}


Holiday {
    # Set this to TRUE to disable April Foolishness.
    B:IHateApril=false
}


Plugins {

    MineFactoryReloaded {
        B:Enable=true
    }

    Thaumcraft {
        B:Enable=true
    }

    TConstruct {
        B:Enable=true
    }

    EE3 {
        B:Enable=true
    }

}


